/*Sección del Formulario*/
:root {
  --main-text-color: #fff;
  --black-bg: #000;
  --yellow-border: #fbff01fc;
  --placeholder: #878585;
  --black-border: #000;
}

.form-section {
  width: 100%;
}

.form-section_title {
  text-align: center;
  font-size: 2rem;
  color: var(--main-text-color);
}

.form {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-input_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.input_tag {
  color: var(--main-text-color);
  font-size: 1.2rem;
}

.input {
  background: var(--black-bg);
  border-radius: 10px;
  padding: 10px;
  color: var(--main-text-color);
  border: solid 1.5px var(--yellow-border);
}

.input::placeholder {
  color: var(--placeholder);
  font-weight: bold;
}

.buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form_button {
  width: auto;
  cursor: pointer;
  background-color: var(--black-bg);
  border-radius: 10px;
  padding: 10px 12px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: solid thin var(--yellow-border);
}

.form_button:hover {
  background-color: var(--yellow-border);
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border: solid thin var(--black-border);
  width: auto;
  padding: 10px 12px;
}
