:root {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(3, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(3, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 46%,
    rgba(0, 0, 0, 1) 100%
  );
}

.main-title {
  margin-top: 1rem;
  color: #fff;
  font-size: 45px;
  text-align: center;
  margin-bottom: 3rem;
}

/*Header*/

.header {
  height: 4.5rem;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image img {
  height: 45px;
  width: auto;
}

.logo-name img {
  height: 15px;
  width: auto;
}

.header-description-text {
  color: white;
}

/*Contenedor Main*/

.main-content {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row; /* Por defecto */
  justify-content: space-between; /* Distribuir espacio entre los hijos */
  align-items: flex-start; /* Alinear secciones arriba */
  gap: 10px; /* Añade un espacio entre las secciones */
}

/*Sección de las cards*/

.cards-section {
  width: 100%;
}

.cards-section_title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.cards-list {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  height: 60vh;
  overflow: auto;
}

.cards-section_title {
  font-size: 2rem;
  color: #fff;
}
/* Estilos generales para la tarjeta */
.card {
  display: flex;
  flex-direction: column; /* Para que la imagen esté primero */
  align-items: center;
  border: 2px solid #fbff01fc;
  border-radius: 10px;
  padding: 16px;
  background-color: #272626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 270px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Estilos para la imagen */
.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* Estilos para figcaption */
.card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 7px;
}

/* Estilos para el título y el precio */
.title {
  font-size: 1rem;
  font-weight: bold;
  color: #dddcdc;
}

.price {
  font-size: 0.8rem;
  font-weight: normal;
  color: #e7e6e6;
}

.price::before {
  content: "$";
  margin-right: 3px;
  font-weight: bold;
}

.delete {
  max-width: 20px;
  cursor: pointer;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.delete img {
  height: 14px;
  margin: 0;
}

.delete p {
  font-weight: 200;
  font-size: 14px;
  color: #dddcdc;
}
